{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'user_stories:index' proyecto_detail.id%}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Crear User Story
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->

<form action=" {{ user_stories.get_absolute_url }} " method="post" id="form_user_stories">
	{% csrf_token %}
	{{ form.as_p }}

    <input type="submit" value="Crear" class="btn btn-success" id="submit-user_story"/>
</form>
{% endblock %}