{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'user_stories:index' proyecto.id %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Descartar User Story
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->

{% if mensaje != null %}
		<div class="alert alert-danger" role="alert">
  			<i class="fa fa-fw fa-warning"></i>
  			<span class="sr-only">Error:</span>
 			 {{mensaje}}
		</div>
	{% endif %}


<form action="{{ user_stories.get_absolute_url }}" method="post">
	{% csrf_token %}
    <p>¿Está seguro que desea descartar el user story "{{ user_story }}"?</p>
    <input type="submit" value="Descartar" class="btn btn-danger"/>
</form>
{% endblock %}