{% extends "base.html" %}

{% block content %}

<a type="button" class="btn btn-info" href="{% url 'proyectos:proyecto_index' proyecto.id %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                <i class="fa fa-area-chart fa-fw"></i>Burndown Chart <small>{{sprint}}</small>
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->


            <div id="myfirstchart" style="height: 300px;"></div>


{% load staticfiles %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/raphael-min.js' %}"></script>
    <script src="{% static 'js/morris.min.js' %}"></script>
<script type="text/javascript">


    var sprint = "{{sprint}}";
    var calculado = "{{calculado_json}}";
    var decoded = JSON.parse(calculado.replace(/&quot;/g,'"'));
    console.log(decoded);
    new Morris.Line({
      // ID of the element in which to draw the chart.
      element: 'myfirstchart',
      // Chart data records -- each entry in this array corresponds to a point on
      // the chart.
      data: decoded,
      // The name of the data record attribute that contains x-values.
      xkey: 'year',
      // A list of names of data record attributes that contain y-values.
      ykeys: ['value2', 'value'],
      // Labels for the ykeys -- will be displayed when you hover over the
      // chart.
      labels: ['Restante Estimado', 'Restante a Realizar'],
      parseTime: false,
      hideHover: true,
      //events: ["{{sprint.duracion}}"]
      xLabels: "day",
      xLabelFormat: function(day) {
          //console.log(day.src.year);
          return 'Dia ' + day.src.year;
          },
      lineColors: ['red', 'green'],
      postUnits: ' horas',
      pointSize: '6'
      //ymin: 'auto[0]'

    });
</script>

{% endblock %}
