{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'sprints:index' proyecto.id%}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Finalizar Sprint
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->


<form action="{{ sprints.get_absolute_url }}" method="post">
	{% csrf_token %}

    {% if mensaje != null %}
		<div class="alert alert-danger" role="alert">
  			<i class="fa fa-fw fa-warning"></i>
  			<span class="sr-only">Error:</span>
 			 {{mensaje}}
		</div>
	{% endif %}

    <p>¿Está seguro que desea finzalizar el sprint "{{ sprint }}"?</p>

    <input type="submit" value="Finalizar" class="btn btn-danger"/>

</form>
{% endblock %}