{% extends "base.html" %}

{% block content %}
{% include 'sprints/modal_registrar_tarea.html' %}
<a type="button" class="btn btn-info" href="{% url 'proyectos:proyecto_index' proyecto.id %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>


{% for flujo in flujos_sprint %}

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                <i class="fa fa-arrows-h fa-fw"></i>Kanban <small>Flujo {{flujo}}</small>
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->






	<table class="table table-bordered">
	<thead>


		    <tr>
                {% for act in flujo.actividades.all %}
                <th colspan="3">{{ act }}</th>

                {% endfor %}
                <th rowspan="2">Finalizado</th>
                <th rowspan="2" class="success">Aprobado</th>
		    </tr>
        <tr>
            {% for act in flujo.actividades.all %}
                {% for est in act.estados.all %}
                    <th>{{ est }}</th>
                {% endfor %}
            {% endfor %}
        </tr>

	</thead>
	<tbody>


        <tr class="row-kanban">
        {% for act in flujo.actividades.all %}
                {% for est in act.estados.all %}
                    <th class="active">
                        {% for userstory in  user_stories %}

                            {% if proyecto.scrum_master == user or userstory.usuario == user%}
                            {% if userstory.flujo == flujo and userstory.userstorydetalle.actividad == act and userstory.userstorydetalle.estado == est and userstory.estado != 'Finalizado' and userstory.estado != 'Aprobado' %}
                            <div class="us-kanban">
                                {{userstory}}
                                <br/>
                                <span class="btn-group" id="opciones">
                                    <a type="button" class="btn btn-warning btn-sm" title="Ver tareas" id="ver" href="{% url 'sprints:ver_tareas' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-search"></i>
                                    </a>
                                    {% if sprint.estado != 'Finalizado' %}
                                    <a type="button" class="btn btn-primary btn-sm" title="Registrar tarea" id="registrar" href="{% url 'sprints:registrar_tarea' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    <a type="button" class="btn btn-success btn-sm" title="Archivos" id="adjuntar" href="{% url 'sprints:adjuntar_archivo' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-paperclip"></i>
                                    </a>
                                    {% if proyecto.scrum_master == user and flujo.actividades.all.0.estados.all.0 != est and flujo.actividades.all.0 != act and sprint.estado != 'Finalizado' %}
                                    <a type="button" class="btn btn-danger btn-sm" title="Revertir" id="revertir" href="{% url 'sprints:revertir_estado' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-arrow-left"></i>
                                    </a>
                                    {% endif %}
                                    {% if userstory.usuario == user and sprint.estado != 'Finalizado' %}
                                    <a type="button" class="btn btn-info btn-sm" title="Cambiar estado" id="cambiar" href="{% url 'sprints:cambiar_estado' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-arrow-right"></i>
                                    </a>
                                    {% endif %}
                                </span>

                            </div>
                            {% endif %}
                            {% endif %}

		                {% endfor %}

                    </th>
                {% endfor %}
            {% endfor %}


                    <th>
                        {% for userstory in  user_stories %}


                            {% if proyecto.scrum_master == user or userstory.usuario == user%}
                            {% if userstory.flujo == flujo and userstory.estado == 'Finalizado'%}
                            <div class="us-kanban">
                                {{userstory}}
                                <br/>
                                <span class="btn-group" id="opciones">
                                    <a type="button" class="btn btn-warning btn-sm" title="Ver tareas" id="ver" href="{% url 'sprints:ver_tareas' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-search"></i>
                                    </a>
                                    {% if proyecto.scrum_master == user and sprint.estado != 'Finalizado' %}
                                    <a type="button" class="btn btn-primary btn-sm" title="Registrar tarea" id="registrar" href="{% url 'sprints:registrar_tarea' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-pencil"></i>
                                    </a>
                                    {% endif %}
                                    <a type="button" class="btn btn-success btn-sm" title="Archivos" id="adjuntar" href="{% url 'sprints:adjuntar_archivo' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-paperclip"></i>
                                    </a>
                                    {% if proyecto.scrum_master == user and sprint.estado != 'Finalizado' %}
                                    <a type="button" class="btn btn-danger btn-sm" title="Revertir" id="revertir" href="{% url 'sprints:revertir_estado' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-arrow-left"></i>
                                    </a>
                                    <a type="button" class="btn btn-success btn-sm" title="Aprobar" id="aprobar" href="{% url 'sprints:aprobar' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-check-circle"></i>
                                    </a>
                                    {% endif %}

                                </span>

                            </div>
                            {% endif %}
                            {% endif %}

		                {% endfor %}

                    </th>
                    <th class="success">
                        {% for userstory in  user_stories %}


                            {% if proyecto.scrum_master == user or userstory.usuario == user%}
                            {% if userstory.flujo == flujo and userstory.estado == 'Aprobado'%}
                            <div class="us-kanban">
                                {{userstory}}
                                <br/>
                                <span class="btn-group" id="opciones">

                                    <a type="button" class="btn btn-warning btn-sm" title="Ver tareas" id="ver" href="{% url 'sprints:ver_tareas' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-search"></i>
                                    </a>
                                    <a type="button" class="btn btn-success btn-sm" title="Archivos" id="adjuntar" href="{% url 'sprints:adjuntar_archivo' proyecto.id sprint.id userstory.id %}">
                                        <i class="fa fa-lg fa-paperclip"></i>
                                    </a>


                                </span>

                            </div>
                            {% endif %}
                            {% endif %}

		                {% endfor %}

                    </th>
        </tr>


	</tbody>
</table>

{% endfor %}

{% endblock %}
