{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'sprints:gestionar' proyecto.id sprint.id %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Modificar user story <small>{{user_story}}</small>
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->
<form action=" {{ sprints.get_absolute_url }} " method="post">
	{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Modificar" class="btn btn-primary"/>
</form>
{% endblock %}