{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'sprints:kanban' proyecto.id sprint.id %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 Aprobar User Story
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->

<form action="{{ sprints.get_absolute_url }}" method="post">
	{% csrf_token %}
    <p>¿Está seguro que desea aprobar el user story "{{ user_story }}"?</p>
    <div class="row">
    <div class="col-lg-4">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th></th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Nombre</td>
                    <td>{{user_story}}</td>
                </tr>
                <tr>
                    <td>Estado</td>
                    <td>{{user_story.estado}}</td>
                </tr>
                <tr>
                    <td>Estimacion</td>
                    <td>{{user_story.estimacion}}</td>
                </tr>
                <tr>
                    <td>Horas Acumuladas</td>
                    <td>{{horas_acumuladas}}</td>
                </tr>
                <tr>
                    <td>Flujo</td>
                    <td>{{user_story.flujo}}</td>
                </tr>
                <tr>
                    <td>Desarrollador</td>
                    <td>{{user_story.usuario}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
        <input type="submit" value="Aprobar" class="btn btn-success"/>

</form>
{% endblock %}