{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'sprints:kanban' proyecto.id sprint.id %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

	<!-- Page Heading -->
	    <div class="row">
	        <div class="col-lg-12">
	            <h1 class="page-header">
	                 <i class="fa fa-file fa-fw"></i> Tareas User Story <small>{{user_story}}</small>
	            </h1>
	        </div>
	    </div>
	<!-- /.row -->

<div class="row">
    <div class="col-lg-7">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Desarrollador</th>
                        <th>Estimacion</th>
                        <th>Horas Acumuladas</th>
                        <th>Archivos adjuntos</th>

                    </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{user_story.usuario}}</td>

                    <td>{{user_story.estimacion}}</td>

                    <td>{{horas_acumuladas}}</td>

                    <td>{{cantidad_archivos}}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>
        <div class="col-lg-5">
            <h4>Ver tipos de tareas</h4>
            <input type="hidden" value="{{user_story.id}}" id="user_story_id"/>
            <select id="tipos">
                <option>Todas las tareas</option>
                {% for tipo in tipos_tareas %}
                    <option value="{{ tipo }}">{{ tipo }}</option>
                {% endfor %}
            </select>
    </div>
    </div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>Descripcion</th>
            <th>Horas</th>
            <th>Sprint</th>
            <th>Flujo</th>
            <th>Actividad</th>
            <th>Estado</th>
            <th>Usuario</th>
            <th>Fecha</th>


		</tr>
	</thead>
	<tbody id="tabla_tareas">
    {% for tarea in tarea_list %}

    <tr>
        <td>
            {{tarea.descripcion}}
        </td>
        <td>
            {{tarea.horas_de_trabajo}}
        </td>
        <td>
            {{tarea.sprint}}
        </td>
        <td>
            {{tarea.flujo}}
        </td>
        <td>
            {{tarea.actividad}}
        </td>
        <td>
            {{tarea.estado}}
        </td>
        <td>
            {{tarea.usuario}}
        </td>
        <td>
            {{tarea.fecha|date:"d/m/Y"}}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}