{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Asignar Rol::{% endblock %}
{% block TituloMenu %} ASIGNAR ROL {% endblock %}
{% block TituloOperacion %} Rol Asignado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El rol se asigno exitosamente. </h3></center>
{% endblock %}
{% block Botones %}
    <form action="/inicio/rol/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value="{{ proyecto.id }}">
        <input type="hidden" name='login' value={{ logueado.id }} >
        <center><input type="submit" value="Aceptar"></center>
    </form>
{% endblock %}