{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Crear Rol::{% endblock %}
{% block TituloMenu %} CREAR ROL {% endblock %}
{% block TituloOperacion %} Formulario Rol {% endblock %}
{% block DatosOperacion %}
    <form action="/confirmar/" method="POST">{% csrf_token %}
        <fieldset>
            <dl><dt><label>Nombre:</label></dt><dd><input type="text" name="nombre_rol"required /></dd></dl>
            <dl>
                <dt><label>Usuario:</label></dt>
                <dd>
                    <select  name="usuario_rol" required>
                        <option value="">Seleccione un usuario</option>
                        {% for usuario in lista_usuarios %}
                            <option value={{ usuario.username }}>{{ usuario.username }}</option>
                        {% endfor %}
                    </select>
                </dd>
            </dl>
            <p><h3>Permisos de Administración de Proyectos</h3></p>
            <p>
                <input type="checkbox" name="crear_proyecto">Crear proyecto
                <input type="checkbox" name="modificar_proyecto">Modificar proyecto
                <input type="checkbox" name="eliminar_proyecto">Eliminar proyecto
                <input type="checkbox" name="cerrar_proyecto">Cerrar proyecto
            </p>
            <p><h3>Permisos de Administración de Usuarios</h3></p>
            <p>
                <input type="checkbox" name="crear_usuario">Crear usuario
                <input type="checkbox" name="modificar_usuario">Modificar usuario
                <input type="checkbox" name="eliminar_usuario">Eliminar usuario
            </p
            <p><h3>Permisos de Administración de Roles</h3></p>
            <p>
                <input type="checkbox" name="agregar_rol">Agregar rol
                <input type="checkbox" name="modificar_rol">Modificar rol
                <input type="checkbox" name="eliminar_rol">Eliminar rol
            </p>
            <p><h3>Permisos de Generar resumen de clientes y burndownchart</h3></p>
            <p>
                <input type="checkbox" name="generar_resumen_clientes">Generar resumen de clientes
                <input type="checkbox" name="crear_burndown">Crear burndown
            </p>
            <p><h3>Permisos de Asignación</h3></p>
            <p>
                <input type="checkbox" name="asignar_usuario_inicial">Asignar usuario inicial
                <input type="checkbox" name="asignar_permisos_roles">Asignar permisos a roles
                <input type="checkbox" name="asignar_roles_usuario">Asignar roles a usuario
                <input type="checkbox" name="asignar_usuarios_proyecto">Asignar usuarios a proyecto
            </p>
            <p><h3>Permisos de Listar</h3></p>
            <p>
                <input type="checkbox" name="listar_usuarios">Listar usuarios
                <input type="checkbox" name="listar_proyectos">Listar proyectos
            </p>
            <p><h3>Permisos de Administración de Sprints</h3></p>
            <p>
                <input type="checkbox" name="agregar_sprint">Agregar sprint
                <input type="checkbox" name="modificar_sprint">Modificar sprint
                <input type="checkbox" name="eliminar_sprint">Eliminar sprint
                <input type="checkbox" name="activar_sprint">Activar sprint
            </p>
            <p><h3>Permisos de Administración de User Stories</h3></p>
            <p>
                <input type="checkbox" name="agregar_historia">Agregar historia
                <input type="checkbox" name="modificar_historia">Modificar historia
                <input type="checkbox" name="eliminar_historia">Eliminar historia
                <input type="checkbox" name="adjuntar_archivos">Adjuntar archivos<br>
                <input type="checkbox" name="cargar_horas">Cargar horas trabajadas
                <input type="checkbox" name="actualizar_estado">Actualizar estado
                <input type="checkbox" name="ver_historial">Ver historial
                <input type="checkbox" name="validar_historia">Validar historia
            </p>
            <p><h3>Permisos de Administración de Tabla kanban</h3></p>
            <p>
                <input type="checkbox" name="crear_flujo">Crear flujo
                <input type="checkbox" name="modificar_flujo">Modificar flujo
                <input type="checkbox" name="eliminar_flujo">Eliminar flujo
                <input type="checkbox" name="ver_tabla">Ver tabla
            </p>
            <input type="hidden" name="activo" value="true">
        <input type="submit" value="Crear">
    </form>
    <form action="/inicio/rol/" method="POST">{% csrf_token %}
        <input type="hidden" name='proyecto' value="{{ proyecto.id }}" >
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras">
    </form>
{% endblock %}