{% extends 'PlantillaBaseMetodos.html' %}
{% block title %}::Eliminar Rol::{% endblock %}
{% block TituloMenu %} ELIMINAR ROL {% endblock %}
{% block TituloOperacion %} Rol Eliminado {% endblock %}
{% block DatosOperacion %}
    <center><h3>El rol pasó a estado : INACTIVO</h3></center>
{% endblock %}
{% block Botones %}
    <form action="/inicio/rol/" method="POST"> {% csrf_token %}
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="hidden" name="proyecto" value="{{ proyecto.id }}">
        <center><input type="submit" value="Aceptar"></center>
    </form>
{% endblock %}