{% extends 'PlantillaBaseListas.html' %}
{% block title %} ::Administracion de Roles:: {% endblock %}
{% block TituloMenu %} ADMINISTRACION DE ROLES DEL PROYECTO {% endblock %}

{% block Columnas %}
   <div style="text-align: center;"><b><h1><font color="orange">ADMINISTRACION DE ROLES</font></h1></b></div>
<h2>Lista de Roles del Sistema</h2>
    <tr>
        <th scope="col" class="rounded">Nombre</th>
        <th scope="col" class="rounded"><font color="green">Editar</font></th>
        <th scope="col" class="rounded"><font color="red">Eliminar</font></th>
        <th scope="col" class="rounded"><font color="blue">Asignar</font></th>
        <th scope="col" class="rounded"><font color="violet">Desasignar</font></th>
        <th scope="col" class="rounded"><font color="brown">Consultar Usuarios</font></th>
    </tr>



{% endblock %}
{% block MostrarDatos%}
    {% for rol in lista %}
        <tr>
            <td>{{ rol.nombre }}</td>

            <td>
                <form action= "/editar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='rol' value={{ rol.id }} >
                    <input type="submit" value="Modificar">
                </form>
            </td>
            <td>
                <form action= "/eliminar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name="usuario" value="{{ rol.usuario.id }}">
                    <input type="hidden" name='rol' value={{ rol.id }} >
                    <input type="submit" value="Eliminar">
                </form>
            </td>
            <td>
                <form action= "/asignar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='rol' value={{ rol.id }} >
                    <input type="submit" value="Asignar">
                </form>
            </td>
            <td>
                <form action= "/desasignar/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='rol' value={{ rol.id }} >
                    <input type="submit" value="Desasignar">
                </form>
            </td>
            <td>
                <form action= "/consultar_usuarios/" method="post"> {% csrf_token %}
                    <input type="hidden" name='proyecto' value={{ proyecto.id }} >
                    <input type="hidden" name='login' value={{ logueado.id }} >
                    <input type="hidden" name='rol' value={{ rol.id }} >
                    <input type="hidden" name="usuario" value="{{ rol.usuario.id }}">
                    <input type="submit" value="Consultar Usuarios"/>
                </form>
            </td>
        </tr>
    {% endfor %}
{% endblock %}
{% block Botones%}
    <form action="/inicio/rol/crear/" method="POST">{% csrf_token %}
        <input type="submit" value="Crear nuevo rol">
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
    </form>
    <form action="/inicio/" method="POST"> {% csrf_token %}
        <input type="hidden" name="proyecto" value={{ proyecto.id }}>
        <input type="hidden" name='login' value={{ logueado.id }} >
        <input type="submit" value="<Atras"><br>
    </form>
{% endblock %}