{% extends "base.html" %}
{% block content %}

<a type="button" class="btn btn-info" href="{% url 'proyectos:index' %}" >
	<i class="fa fa-fw fa-chevron-left"></i> Atrás
</a>

<center><strong><font face="Comic Sans MS"><h3> REPORTES DEL SISTEMA</h3></font></strong></center>
<br>
<div class="alert alert-info">
{%for i in proy%}

    <!-- Page Heading -->
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">
					 <i class="fa fa-fw fa-archive"></i>Informes del proyecto: {{i.nombre_largo}}
				</h1>

			</div>
		</div>
	<!-- /.row -->

    <div class="row">

    <div class="col-lg-12">
			<div class="panel panel-info">

				<div class="panel-body">
					<table class="table table-condensed tabla-sprints">
                        <thead>
                            <tr>
                                <th class="col-md-12"></th>
                                <th class="col-md-4"></th>
                            </tr>
                        </thead>
                        <tbody>

                            <tr>
                                <td class="success">
                                <a href="{% url 'proyectos:reporte1' i.id %}">1. CANTIDAD DE TRABAJOS EN CURSO POR EQUIPO</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="success">
                                <a href="{% url 'proyectos:reporte2' i.id %}">2. CANTIDAD DE TRABAJOS POR USUARIO (PENDIENTE, EN CURSO, FINALIZADOS)</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="success">
                                <a href="{% url 'proyectos:reporte3' i.id %}">3.  LISTA DE LAS ACTIVIDADES PARA COMPLETAR EL PROYECTO</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="success">
                                <a href="{% url 'proyectos:reporte4' i.id %}">4. LISTA DE TIEMPO ESTIMADO DEL PROYECTO Y LA EJECUCION DEL MISMO (GRAFICADO, SPRINT POR PROYECTO)</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="success">
                                <a href="{% url 'proyectos:reporte5' i.id %}">5. BACKLOG DEL PRODUCTO</a>
                                </td>
                            </tr>

                            <tr>
                                <td class="success">
                                <a href="{% url 'proyectos:reporte6' i.id %}">6. SPRINT BACKLOG</a>
                                </td>
                            </tr>

                        </tbody>

					</table>
				</div>

			</div>
    </div>
	</div>

{% endfor %}

</div>

{% endblock%}